<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO</title>
    <link rel="stylesheet" href="../static/css/usuario.css">
    
</head>

<body>

    <div id="form_fundo">
        <h1>Parabéns login efetuado com sucesso</h1>
        <div id="form_frente">
            <form action="/" id="login" method="post">
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Voltar para página de login!

                </button>
            </form>
        </div>
    </div>

</body>

</html>